@import '../../../assets/custom/__variable';

.main {
  height: 90vh;
  overflow: auto;

  .jobs {
    width: 90%;
    margin: auto;

    .head {
      padding: 40px 5%;

      .title {
        text-align: center;
        color: $primary-black;
        margin-top: 0;
        margin-bottom: 10px;
        font-size: clamp(1.875rem, 0.4688rem + 4.5vw, 3rem);
        font-weight: 700;
        line-height: 1.3em;
      }
    }
  }

  .joblist {
    width: 90%;
    margin: auto;
  }

  // .view-all {
  //   .btn {
  //     width: 150px;
  //     height: 150px;
  //     color: $primary-white;
  //     background-color: $primary-green;
  //     text-align: center;
  //     border-radius: 100%;

  //     line-height: 1.3em;
  //     text-decoration: none;
  //     transition: all .3s ease-in-out;
  //     margin: auto;
  //     display: block;
  //     cursor: pointer;

  //   }
  // }

  .feature_two {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    .left {
      display: flex;
      justify-content: center;
      background-color: #f4fcfc;

      video {
        height: 75%;

        padding: 10px;
      }
    }

    .right {
      display: grid;
      grid-area: 1fr 1fr 1fr;
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      padding: 10px;

      .card-wrapper {
        display: grid;
        gap: 20px;

        .card-main {
          padding: 10px;
          // background: pink;
          box-shadow: 1px 1px black;
          border-radius: 5px;
          background-color: #f6fcfc;
          width: 80%;
          margin: auto;

          .content {
            .title {
              font-size: 15px;
            }

            .subtitle {
              font-size: 12px;
            }
          }

        }
      }
    }

    @media (max-width:780px) {
      grid-template-columns: 1fr;

      .left {
        height: 300px;
      }
    }
  }

  .text-highlight {
    color: $primary-yellow;
  }
}
