@import '../../../assets/custom/__variable';
.container{
  height:90vh;
  overflow: auto;

.all-service{
  padding: 10px;
  background-color: $secondaary-bg-black;
  border-radius: 10px;

  height:calc(100% - 220px)
}
.head{
  padding: 20px;
}

.job{
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
}
