<div class=" details-tab">

  <ul class="nav nav-tabs justify-content-center">
    @for (tab of tabs; track $index) {
  <li class="nav-item">
    <!-- <a class="nav-link active" aria-current="page">  -->
      <a class="nav-link" [class.active]="active === tab" (click)="active=tab">
        {{ tab | titlecase }}
      </a>
  </li>
}

</ul>
</div>
<div class="details">
  @switch (active) {
  @case('Overview'){
    <div class="details_overview">
      <div class="content">
        <div class="content_section">
          <p class="label">Job title</p>
          <p class="value">Front end engineer</p>
        </div>

        <div class="content_section">
          <p class="label">Company name</p>
          <p class="value">Horizontal</p>
        </div>


        <div class="content_section">
          <p class="label">Job Summary</p>
          <p class="value">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime eum repellendus, hic adipisci, earum sapiente obcaecati corporis rem expedita soluta perspiciatis porro dolores ullam minus in impedit dignissimos, quam facere.</p>
        </div>

        <div class="content_section">
          <p class="label">Responsibility</p>
          <p class="value">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime eum repellendus, hic adipisci, earum sapiente obcaecati corporis rem expedita soluta perspiciatis porro dolores ullam minus in impedit dignissimos, quam facere.</p>
        </div>

<div class="content_section">
          <p class="label">Qualification</p>
          <p class="value">MCA</p>
        </div>

<div class="content_section">
          <p class="label">Employment type</p>
          <p class="value">Full time</p>
        </div>


        <div class="content_section">
          <p class="label">Salary</p>
          <p class="value">Rs. 50000 - Rs. 100000 /month</p>
        </div>

        <div class="content_section">
          <p class="label">Number of Openings</p>
          <p class="value">3</p>
        </div>


        <div class="content_section">
          <p class="label">Apply here</p>
          <p class="value">linkkkding.com/here</p>
        </div>


      </div>
    </div>
  }
  @case ('Menu'){
    <div class="details_gallery">
      @for (album of albums; track $index) {
      <div class="gallery__item" (click)="open($index)">
        <img [ngSrc]="album.src" alt="" class="gallery__image w-100 h-100" width="200" height="200">
      </div>
    }
    </div>
  }
  @case ('Reviews'){
    'Reviews'
  }

  @case ('Photos'){
    <div class="details_gallery">
      @for (album of albums; track $index) {
      <div class="gallery__item" (click)="open($index)">
        <img [ngSrc]="album.src" alt="" class="gallery__image w-100 h-100" width="200" height="200">
      </div>
    }
    </div>
  }

  @case ('About'){

    'About'
  }

  @default{

    'defaut'
  }
  }
</div>
