<div class="main">

  <div class="jobs">
    <div class="head">
      <h1 class="title">{{'Find your favourite job' | uppercase}}</h1>
    </div>
  <div class="search m-auto mb-2">
    <div class="search-input-wrapper">
      <i class="bi bi-search icon-regular"></i>
      <input class="search-field w-input mb-0" maxlength="256" placeholder="Search…" type="search" id="search"
        (input)="onSearch($event)">
    </div>
    <button type="submit" class="btn search-button w-button" (click)="onSearch($event)">Search</button>
  </div>
  <div class="filter mb-2">
    <!-- Example single danger button -->
    <!-- <div class="btn-group"> -->
    <div class="dropdown ">
      <button class="btn dropdown-toggle search-button w-button" type="button" id="dropdownMenuButton"
        data-bs-toggle="dropdown"
        aria-expanded="false">
        Filter jobs <i class="bi bi-chevron-down"></i>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @for (option of options; track $index) {
        <li>
          <a class="dropdown-item" (click)="onSelect(option)">{{ option.label }}</a>
        </li>
        }
      </ul>
    </div>

  </div>
  <!-- </div> -->
  </div>
  <div class="joblist">
    @for (item of jobPost$ | async; track $index) {
    <app-jobcard [item]="item"></app-jobcard>
    } @empty {
    <div class="empty">
      <div class="empty_img">
        <img src="../../../assets/images/undraw_not_found_re_bh2e.svg" alt="" srcset="" class="w-100 h-100">
      </div>
      <p class="text-center">Update filter for the jobs 👍</p>
    </div>
    }
  </div>

  <section class="feature_two">
    <div class="left">
      <!-- <img src="../../../assets/images/team-spirit-animate.svg" alt=""> -->
      <video src="../../../assets/images/Team-spirit.mp4" autoplay muted loop playsinline
        class="h-100 m-auto d-block"></video>
    </div>
    <div class="right">
      <p class="text-highlight text-uppercase">
        Why choose us
      </p>
      <h2>Providing best options and contribute to Mangalore</h2>
      <p class="desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab totam odit exercitationem ea assumenda provident,
        mollitia in ducimus nihil id deserunt? Blanditiis reprehenderit a quaerat commodi numquam eius ex debitis.
      </p>
      <div class="card-wrapper">
        @for (feature of features; track $index) {
        <div class="card-main">
          <div class="content">
            <h3 class="title">{{feature?.title}}</h3>
            <p class="subtitle">{{feature?.description}}</p>
          </div>
        </div>
        }
      </div>
    </div>
  </section>
</div>
