@import '../assets/custom/_variable.scss';

nav {
  width: 90%;
  margin: 10px auto;

  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  padding: 5px;
  position: sticky;
  top: 0;
  z-index: 99;
  align-items: center;

  background: rgba(255, 255, 255, 0.2);
  /* Semi-transparent white */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  /* Frosted glass effect */
  -webkit-backdrop-filter: blur(10px);
  /* Safari support */

  .logo {
    width: clamp(100px, 10vw, 200px);

    img {
      cursor: pointer
    }
  }
//   .postBtn{
//     /* From https://css.glass */
// background: #005f5fd7;
// border-radius: 7px;
// box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
// backdrop-filter: blur(7.9px);
// -webkit-backdrop-filter: blur(7.9px);
// border: 1px solid $secondary-green;
// color: $primary-white;
// font-size: clamp(0.875rem, 0.4063rem + 1.5vw, 1.25rem);
//   }

.shine-button {
  position: relative;
  padding: 10px 20px;
  border: none;
  background-color: $primary-green;
  color: white;
  font-size: 16px;
  border-radius: 2px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  box-shadow: 0.2px 0.2px 1px 2px rgb(199, 199, 199);
}

.shine-button::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: rgba(255, 255, 255, 0.3);
  transform: rotate(45deg);
  animation: shine-animation 2s infinite;
}

@keyframes shine-animation {
  0% {
    transform: rotate(0deg) translate(-100%, -100%);
  }
  100% {
    transform: rotate(0deg) translate(100%, 100%);
  }
}


  @media (max-width:480px) {
    .whatsapp {
      width: 35px;
    }
  }
}

.body_main {
  // width: 90%;
  // margin: 0 auto;
}

.whatsapp {
  position: fixed;
  bottom: 20px;
  /* Adjust as needed */
  right: 20px;
  /* Adjust as needed */
  z-index: 1000;
  /* Ensure it stays on top */
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.button-text {
  display: none;
  /* Initially hidden */
  transition: 0.8s all ease-in-out;
  /* Smooth transition */
  transform: translateX(-100%);
}

.button-text.show {
  display: block;
  transform: translateX(14%);
  background: $primary-green;
  color: $primary-white;
  padding: 5px 15px;
  border-radius: 10px;
}
