nav{
  display: flex;
  justify-content: space-around;
  padding: 5px;
  position: sticky;
  top: 0;
  z-index: 99;
  align-items: center;

  background: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px); /* Frosted glass effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */

  .logo{
    width: clamp(100px,10vw,200px);
    img{
      cursor:pointer
    }
  }
}
