<nav>
  <div class="logo p-2">
    <img ngSrc="../assets/mmj_logo.png" alt="mmj_logo" srcset="" class="w-100 h-100 " (click)="navigateTo()" width="100" height="100" priority>
  </div>
</nav>
<div class="body_main">
  <router-outlet />
</div>
<ngx-spinner [fullScreen] = "true"  size = "medium" template="<img src='../assets/mmj_logo.png' style='width: 100px; ' />"></ngx-spinner>
<div class="whatsapp">
  <button class="btn waBtn"  (mouseover)="showText = true" (mouseleave)="showText = false">
  <a href="https://wa.me/+918147341442" target="_blank" rel="noopener noreferrer">
    <img src="../assets/icons/icons8-whatsapp.svg" alt="" srcset=""class="w-100 h-100" >
  </a></button>
  <div class="button-text"  [ngClass]="{'show': showText}">
    Get in touch
  </div>
</div>
