<footer>
  <div class="footer d-none">
    <div class="d-flex justify-content-start gap-2">
      <div class="logo">
        <img src="../../../../assets/mmj_logo.png" alt="" srcset="" class="w-100">
      </div>
      <p class="text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore, commodi deserunt. Ad, quas, libero non
        consectetur itaque magni quasi illum delectus voluptas, sequi eos fugiat corporis blanditiis totam atque aperiam.
      </p>
    </div>
  
    <div class="content">
      <ul>
        <li></li>
        <li>Terms and Conditions</li>
        <li> </li>
        <li></li>
      </ul>
    </div>
  </div>
  <p class="text-center">&copy;Mangalore Meri Jaan | 2024</p>
</footer>
