<div class="single_service_main">
  <div class="container">
    <div class="business">
      <div class="business_head ">
        <div class="business_info flex-wrap gap-2" [class.flex-column]="logo.length ==0"
          [class.d-block]="logo.length ==0">
          @if (logo) {
          <div class="logo ">
            <img src="../../../assets/mmj_logo.png" alt="" srcset=""
              class="w-100 h-100" /><!-- chnaeg the image here LATER -->
          </div>
          }
          <div class="business_title justify-content-between mb-3" [class.d-block]="logo.length ==0">
            <div class="title">
              <h2>{{ jobDetail?.title | titlecase }}</h2>
              <p class="company">{{ jobDetail?.company_name |titlecase}}</p>
              @if (jobDetail?.tag_line) {
              <p class="sub-title">{{ jobDetail?.tag_line }}</p>
              }
              @if(jobDetail?.web_url){
              <a [href]="jobDetail?.web_url" target="_blank" rel="noopener noreferrer"><i
                  class="bi bi-globe"></i>&nbsp;{{
                jobDetail?.web_url }}
              </a>
              }
              <!-- <a [href]="jobDetail?.geo_location" target="_blank" rel="noopener noreferrer"><i class="bi bi-geo-alt-fill"></i>&nbsp;Direction</a> -->
              @if (jobDetail?.description) {
              <div class="description">
                <p class="head fw-bold">Description</p>
                <p class="contact">
                  {{jobDetail?.description}}
                </p>
              </div>
              }
              @if (this.jobDetail?.contact_type) {
              <div class="description ">
                <p class="head fw-bold text-capitalize">Contact recruiter</p>
                <div class="contact d-flex p-2 gap-4">
                  @for (item of recruterContact; track $index) {
                  @if (jobDetail?.wa_number && item.label =='WhatsApp') {
                  <a [href]="'https://wa.me/'+jobDetail?.wa_number" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-whatsapp"></i>
                  </a>
                  }
                  @if (jobDetail?.primary_contact && item.label =='phone') {
                  <a [href]="'tel:'+jobDetail?.primary_contact" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-telephone-outbound"></i>
                  </a>
                  }
                  @if (jobDetail?.email && item.label =='Email') {
                  <a [href]="'mailto:' + jobDetail?.email" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-envelope-paper"></i>
                  </a>
                  }
                }
                </div>
              </div>
            }
              </div>
              </div>
        </div>

        <div class="body_card">
          <div class="body_card_wrapper">
            <p class="label">Contact info</p>
            @if (jobDetail?.email) {
            <a [href]="'mailto:' + jobDetail?.email"><i class="bi bi-envelope-paper"></i>&nbsp;
              {{ jobDetail?.email }}</a>
            }
            @if (jobDetail?.primary_contact) {
            <a [href]="'tel:' + jobDetail?.primary_contact"><i class="bi bi-telephone-outbound"></i>&nbsp;
              {{ jobDetail?.primary_contact }}</a>
            }
            @if (jobDetail?.alternative_contact) {
            <a [href]="'tel:' + jobDetail?.alternative_contact"><i class="bi bi-telephone-outbound"></i>&nbsp;
              {{ jobDetail?.alternative_contact }}</a>
            }
          </div>
          <div class="body_card_wrapper">
            <p>
              {{ jobDetail?.address }}
            </p>
            <p>{{ jobDetail?.city }} {{ jobDetail?.state }}</p>
            <p>{{ "pincode:" + jobDetail?.pincode }}</p>
          </div>
          <!-- </div> -->
        </div>
      </div>

      <div class="details">
        <app-details-tab [details]="jobDetail" [tabs]="tab"></app-details-tab>
      </div>

    </div>
  </div>
  <app-footer></app-footer>
</div>
