@import "../../../../assets/custom/__variable";
.single_service_main {
  // background-color: $secondaary-bg-black;
  .container {
    a {
      color: $primary-green;
      // font-weight: bold;
      text-decoration: dotted;
      transition: 0.4s all ease-in-out;
      &:hover {
        text-decoration: underline;
      }
    }
    .business {
      position: relative;
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
      &_head {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        background-color: $primary-white;
        padding: 20px;
        border-radius: 20px;
        margin-top: 10px;
        box-shadow: 0.2px 0.2px 5px 2px rgb(238, 238, 238);
        // background-image:linear-gradient(to bottom, rgb(255 255 255 / 50%), rgb(243 243 243 / 80%)), radial-gradient(circle farthest-corner at 0% 0%, #ffffff 1%, #005F5F 17%, rgba(0, 0, 0, 0) 17%), linear-gradient(160deg, #ffffff 63%, #005F5F 99%, #ffffff 90%);

        .business_info {
          display: flex;
          align-items: center;
          .logo {
            width: 100px;
            height: 100px;
            overflow: hidden;
            box-shadow: 1px 1px 4px 1px $primary-yellow;
            background: $primary-white;
            margin-bottom: 5px;
            padding: 5px;
            img {
              object-fit: contain;
              object-position: center;
            }
          }

          .business_title {
            display: flex;

            @media (max-width: 480px) {
              display: block;
              button {
                padding: 5px;
              }
            }
            .title {
              display: grid;
              grid-template-columns: 1fr;
              gap: 5px;
              margin-bottom: 8px;
              h2 {
                text-transform: capitalize;
                margin: 0;
              }
              .company {
                font-size: 18px;
                font-weight: bold;
              }

              .description {

                padding: 5px;
                color: $primary-black;
                .head {
                  font-size: 16px;
                  color: $light-black;
                }
                .contact {
                   font-size: 12px;
                  i {
                    font-size: 20px;
                    color: $primary-green;
                  }
                }
              }
            }
          }

          @media (max-width: 780px) {
            align-items: start;
            flex-direction: column;
            gap: 20px;
          }
        }
        .body_card {
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 20px;
          &_wrapper {
            box-shadow: 1px 1px 0.2px 0.5px $primary-yellow;
            border-radius: 10px;
            padding: 20px;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 8px;
          }
        }
        .label {
          font-size: 14px;
        }
      }

      @media (max-width: 480px) {
        .logo {
          width: 80px;
          height: 80px;
        }
        &_head {
          .body_card {
            gap: 5px;
            grid-template-columns: 1fr;
            div {
              padding: 9px;
            }
          }
        }
        &_body {
          .body_card {
            grid-template-columns: 1fr;
          }
        }
      }
    }
  }
}
