@import '../../../assets/custom/_variable';
.category{

  gap: 5%;
  margin-top:20px;


  .main{
    width:  clamp(100px,10vw,200px);
    height: clamp(100px,10vw,200px);
    padding: 10px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    border: 0.3px solid #00000000;
    gap: 5px;
    cursor :pointer;
    transition: 0.3s all ease-in-out;
    .logo{
      width: 55px;
    }
    &:hover{
      box-shadow:0.5px 0.5px 7px #0000001f;
      .logo{
        width: 50px;
      }
    }
    .sub-title{
      font-size: 13px;
    }
  }
}


footer{
  background-color: #00000000;
  p{
    color: #0000002c;
  }
}
