<div class="container-fluid">
  <app-slider [sliderItem]="carouselImages"></app-slider>

  <div class="container-fluid m-2">
    <div class="category d-flex flex-row flex-wrap justify-content-center">
      @for (item of categories; track $index) {
      <div class="main flex-column justify-content-center" (click)="navigateTo('category',item.id)">
        <div class="logo d-block">
          <img [src]="item.logo" alt="" srcset="" class="w-100" />
        </div>
        <p class="text-center m-0 sub-title fw-bold">{{ item.name }}</p>
      </div>
      } @empty {
      <p>No categories available</p>
      }
    </div>
  </div>
  <div class="container-fluid mt-4">
    <div class="event">
      @for (item of banner; track $index) {
      <app-servicecard [item]="item"></app-servicecard>
      }
    </div>

  </div>
  <app-slider [sliderItem]="carouselImages" class="mt-4"></app-slider>
  <app-enquiry-form></app-enquiry-form>
  <app-footer></app-footer>
</div>
