<div class="container-fluid">
  <div class="enquir">
    <form [formGroup]="enquiryForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="name"class="form-label">Name:</label>
        <input id="name" formControlName="name" class="form-control" type="text">

          @if (f['name'].touched && f['name'].invalid) {
          @if (f['name'].errors?.['required']) {
            <small class="form-text">Name is required.</small>
          }
          @if (f['name'].errors?.['minlength']) {

          <small class="form-text">Name must be at least 3 characters long.</small>
          }
        }
      </div>

      <div>
        <label for="phone" class="form-label">Phone Number:</label>
        <input id="phone" formControlName="phone" class="form-control" type="tel">

          @if (f['phone'].touched && f['phone'].invalid) {
            @if (f['phone'].errors?.['required']) {
              <small class="form-text" >Phone number is required.</small>
            }
            @if (f['phone'].errors?.['pattern']) {
          <small class="form-text" >Phone number must be 10 digits.</small>
            }
          }

      </div>

      <div>
        <label for="email" class="form-label">Email:</label>
        <input id="email" formControlName="email" class="form-control" type="email">
          @if (f['email'].touched && f['email'].invalid) {
            @if (f['email'].errors?.['email']) {
          <small class="form-text">Invalid email address.</small>
            }
          }
      </div>

      <div>
        <label for="businessName" class="form-label">Business Name (Optional):</label>
        <input id="businessName" formControlName="businessName" class="form-control" type="text">
      </div>

      <div>
        <label for="message" class="form-label">Message:</label>
        <textarea id="message" formControlName="message" class="form-control"></textarea>
          @if (f['message'].touched && f['message'].invalid) {
            @if (f['message'].errors?.['required']) {
              <small  class="form-text">Message is required.</small>
            }
            @if (f['message'].errors?.['minlength']) {
              <small class="form-text">Message must be at least 10 characters long.</small>
            }
          }
      </div>

      <button type="submit" class="btn">Submit</button>
    </form>

  </div>
</div>
