@import "../../../../assets/custom/_variable";

.job-item {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  border: 1px solid #f5f7ff;
  border-radius: 10px;
  background-color: $primary-white;
  padding: 20px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  position: relative;
  cursor: pointer;
  box-shadow: 0px 0px 3px 0px #4276fc;

  &:hover {
    background-color: #f3ffff;
  }
  .liner-border {
    z-index: -1;
    border-radius: 10px;
    background-image: linear-gradient(#4276fc, #1844b5);
    margin: -1px;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .job-title-wrap {
    grid-row-gap: 10px;
    display: grid;
    grid-template-columns: 1fr;
    .job-title {
      font-size: clamp(1.125rem, 0.5781rem + 1.75vw, 1.5625rem);
    }

    .job-image-wrap {
      width: 60px;
      height: 60px;
      flex: none;
      justify-content: flex-start;
      box-shadow: 0.2px 0.2px 5px 2px #f7f7f7;

      img {
        object-fit: contain;
      }
    }
    .head {
      p span {
        font-size: 13px;
      }
    }

    .job-detail {
      grid-column-gap: 15px;
      grid-row-gap: 15px;
      color: var(--color--black);
      align-items: center;
      font-size: 16px;
      display: flex;
      // margin-left: 80px;

      @media (max-width: 780px) {
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        align-items: flex-start;
        flex-wrap: wrap;
      }
    }
  }
}
.chips {
  font-size: 10px;
  padding: 6px 12px;
  background-color: #fef7f1;
  color: #c98b40;
}
.button-primary {
  border-radius: 10px;
  background-color: $primary-yellow;
  background-image: linear-gradient(to bottom, var(--color--transparent), #1844b5);
  color: $primary-white;
  text-align: center;
  flex: none;
  justify-content: center;
  padding: 12px 35px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2em;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}
.navigate {
  position: absolute;
  top: 5px;
  right: 10px;
  i {
    font-size: 25px;
    color: #005f5f;
  }
}
