<div class="job-item" (click)="navigateTo(item?.jobpost_id)">
  <div class="liner-border two"></div>
  <div class="job-title-wrap">
    <div class="d-flex align-items-center gap-4">
      <div class="job-image-wrap">
        <img [src]="item?.logo" alt="" srcset="" class="w-100 h-100" />
        <!-- chnaeg the image here LATER -->
      </div>
      <div>
        <h3 class="job-title mb-0">{{ item?.title | titlecase }}</h3>
        <p>{{ item?.created_date | timeAgo }}</p>
      </div>
      </div>
      <div class="d-flex flex-row flex-wrap gap-3">
    <div class="head">
      <p class="fw-bold">
        <span class="chips bg-white p-2"><i class="bi bi-briefcase"></i> </span>
        {{ item?.company_name | titlecase }}
      </p>
    </div>
    <div class="job-detail">
      <p class="chips">
        <i class="bi bi-geo-alt"></i>
        {{ item?.city | titlecase }}
      </p>
      <p class="chips">
        <i class="bi bi-clock-history"></i>
        {{ item?.employment_type | titlecase }}
      </p>
    </div>
    </div>
  </div>
  <div class="navigate">
    <i class="bi bi-arrow-up-right-circle-fill"></i>
  </div>
</div>
