$primary-white: #fefefe;
$primary-black: #000;
$primary-green: #005F5F;
$primary-orange: #f34b13;
$primary-yellow: #FFA300;
$secondaary-bg-black: #00000009;



$secondary-green: #217070;
$light-black: #00000075;
$light-white-shadow: #fcfcfc;
$med-white: #f8f8f8;
$description-black: #585858;
$title-black: #3a3a3a;

$black-overlay-1: #000000cf;
$black-overlay-2: #00000036;